In [1]:
a=10
b=31.4
c="Hello"
d=-10

In [2]:
print(c)

Hello

In [3]:
print(type(c))

<class 'str'>

In [4]:
e=c+5

print(e)

TypeError: can only concatenate str (not "int") to str

In [5]:
print(0.1+0.2)

0.30000000000000004

In [6]:
print(type(10/2))

<class 'float'>

In [11]:
round(3.1415926,3) ## 取整，小数点后保留一位

3.142

In [13]:
print(c+" world")

Hello world

In [14]:
print(a,b,c,d,154,6.5,"abc")

10 31.4 Hello -10 154 6.5 abc

In [14]:
print(1)
print(2)
print(3)

1
2
3

In [16]:
temp=1+2+3+4+5 \
    +6+7+\
    8+9+10\
    +100

print(temp)

155

In [28]:
print(1); print(2.5);print("abc")

1
2.5
abc

In [31]:


print(1)
print(2)
print(3)

1
2
3

In [17]:
l=[1,2,3,"hello"]

In [33]:
type(l)

list

In [18]:
len(l)

4

In [20]:
l[3]

'hello'

In [36]:
print(l)

[1, 2, 3, 'hello']

In [23]:
l.append("world")  ## 增加数组的维度

In [24]:
l.append("wang")

In [25]:
print(l)

[1, 2, 3, 'hello', 'wang', 'world', 'wang']

In [26]:
l[4]

'wang'

In [28]:
l.append(3.5)
print(l)

[1, 2, 3, 'hello', 'wang', 'world', 'wang', 3.5, 3.5]

In [29]:
l.extend([a,b,c,d]) ## 扩展数组

In [30]:
print(l)

[1, 2, 3, 'hello', 'wang', 'world', 'wang', 3.5, 3.5, 10, 31.4, 'Hello', -10]

In [31]:
l.insert(3,"lol")
print(l)

[1, 2, 3, 'lol', 'hello', 'wang', 'world', 'wang', 3.5, 3.5, 10, 31.4, 'Hello', -10]

In [32]:
del l[3] 
print(l)

[1, 2, 3, 'hello', 'wang', 'world', 'wang', 3.5, 3.5, 10, 31.4, 'Hello', -10]

In [37]:
l.pop(4)
print(l)

[1, 2, 3, 'hello', 10, 31.4, 'Hello', -10]

In [46]:
a=[1,2,3,4]
b=a.copy()
b[0]=999

print(a)
print(b)

[1, 2, 3, 4]
[999, 2, 3, 4]

In [40]:
a=[[1,2,3],["hello",3.14,a,b,c],1.5]
print(a)

[[1, 2, 3], ['hello', 3.14, [[1, 2, 3], ['hello', 3.14, [[1, 2, 3], ['hello', 3.14, 10, 31.4, 'Hello'], 1.5], 31.4, 'Hello'], 1.5], 31.4, 'Hello'], 1.5]

In [45]:
print(a[1][3])

31.4

In [49]:
a=(1,2,3)
print(a)

(1, 2, 3)

In [50]:
print(a[2])

3

In [46]:
a[1]=5

In [47]:
d={"Name":"Charlie","Job":"Teacher"}
print(d["Job"])

Teacher

In [48]:
d["age"]=35
print(d)

{'Name': 'Charlie', 'Job': 'Teacher', 'age': 35}

In [54]:
del d["age"]
print(d)

{'Name': 'Charlie', 'Job': 'Teacher'}

In [49]:
set([1,2,3,4,2,1,1,1,2,12,123,1234])

{1, 2, 3, 4, 12, 123, 1234}

In [50]:


a=3
b=1

a!=b

True

In [52]:
1 and 0

0

In [53]:


a=-10
b=5
c=0
if False:
    c=10
if b>3:
    d=5
    c=10
    if a<0:
        c=5
        
if a<0:
    c=99
#else:
#    c=20
print(c)
print(d)

99
5

In [55]:
a=1
b=2
c=3

In [56]:
i=0


while i<10:
     i=i+1
     print(i)

1
2
3
4
5
6
7
8
9
10

In [67]:
for i in range(10):
    for j in range(20):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
4 11
4 12
4 13
4 14
4 15
4 16
4 17
4 18
4 19
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
5 11
5 12
5 13
5 14
5 15
5 16
5 17
5 18
5 19
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
6 11
6 12
6 13
6 14
6 15
6 16
6 17
6 18
6 19
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
9 11
9 12
9 13
9 14
9 15
9 16
9 17
9 18
9 19

In [74]:
s="abcdefg"

for i in s:
    if i =="b":
        continue
    print(i)
    if i=="e":
        break

a
c
d
e

In [70]:
print(s[0])

a

In [71]:
i=0


while i<10:
     i=i+1
     print(i)
     if i==5:
            break

1
2
3
4
5